* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: indigo;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    gap: 15px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input {
    padding: 5px;
}

button {
    padding: 10px;
    background-color: indigo;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}